{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}

{% block content_header '' %}

{% block content %}
    <p>
        {% if host is defined %}
            host: {{ host }}
        {% endif %}
    </p>
{% endblock %}
